.body{
  background: black;
  height: 100%;
}

.logo{
  font-weight: 800;
}

.navtext{
  font-size: 20px;
  transition: font-size 10000s;
}

.navtext:hover
{
  font-size:20px;
}
.about-img{
  box-shadow: 0 0 25px #00ffee;
  margin-top:20px ;
}
.btn{
  padding-right: 20px !important;
  padding-right: 20px !important;
  border-radius: 20px;
  box-shadow: 0 0 20px #00ffee;
  margin:30px ;
  font-weight: 500 !important;
}
.btn:hover{
  box-shadow: 0 0 30px #00ffee;
}
span{
  text-shadow: 0 0 20px #00ffee;
}

.input-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 10px auto;
  width: 50%;
}

.input-box input,textarea{
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: rgb(245, 245, 245);
  border: 2px solid #00ffee;
  resize: none;
}
.inner_skill{
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  gap: 6px;
}
.inner_skill :hover{
  box-shadow: 0 0 30px #00ffee;

}



.inner_img{
  border: 2px solid red;
}
.inner_img img{
  height: 100%;
  width:100%;
}

.cards{
  transition: 0.4s ease-in-out;
}
.cards:hover{
  border: 3px solid #00ffee;
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px #00ffee;
}





@media (min-width:357px)  and (max-width:767px) {
  .project{
   margin-left: 10% !important;
  }
}